@charset "utf-8";
body
{
   
   background-color: #e8f3f8 ;
}

#header
{
   background-color:#FFFFFF;
   
}

#main
{
    background:#FFE4E1 ;
}
#mains
{
    background:#EDEDED;
}


.bottom a{
	color:#697d84;
	font-size: 15px;
	font-weight:bold;
}


#datalist
{
    background-color:#fff;
}


#tres{
	 border: #CCC solid 1px;
	 background-color:#f7f9fd;
	 font-size: small;
	  color: #697d84;
}

#tres:hover
{
    background-color:#FFFAF0;
   
}

.trs{
	 
	border: #CCC solid 1px;
	
}
#datalist input{
	color: #697d84;
	outline:none;
	width:150px;
	height: 32px;
	overflow: hidden;
	cursor: pointer;
	
}

#datalist th
{
    background: #fbedce; 
    color: #697d84;
    font-size: 15px;
}


div.detail_info
{
    background-color: #fbf0db;
    border: 1px solid #ff9000;
    color: #000;
}



/* 分页 */
#pages a
{
    color: #636363;
}
#pages a:hover
{
    background: #cddde4;
    border: #97b9c9 solid 1px;
    color: #067db5;
}


#pages a.current_page
{
    background: #FFF;
    border: #89bdd8 solid 1px;
  
}
input.btn_delete,input.btn_delete:hover
{
    background: url(../img/delete.png) no-repeat left center;
    color: #000;
    border:0;
}
a.btn_delete
{
    color: #32CD32;
    border:0;
}
a.btn_delete:hover{
	color: #FFA500;
    border:0;
}