@CHARSET "UTF-8";

.left {
	float: left;
	margin-left: 210px;
	border: 0px solid red;
	width: 170px;
	height: 50px;
	margin-left: 20px;
	margin-top: 30px;
}

.zy {
	border: 1px solid green;
	width: 170px;
	height: 50px;
	margin-left: 0px;
	font-size: 20px;
	margin-top: 0px;
	background-color: #68B483;
	color: #EEF6F0
}
.xm {
	border: 1px solid green;
	width: 170px;
	height: 50px;
	margin-left: 0px;
	font-size: 20px;
	margin-top: 0px;
	background-color: #68B483;
	color: #EEF6F0
}
.kh {
	border: 1px solid green;
	width: 170px;
	height: 50px;
	margin-left: 0px;
	font-size: 20px;
	background-color: #68B483;
}

.text {
	margin-top: 13px
}

.zi {
	border: 1px solid green;
	height: 20px;
	width: 150px;
	margin-left: 0px;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 1px;
	background-color: #68B483;
}

.zy a:LINK {
	text-decoration: none;
	color: white;
} /*未被访问的链接*/
.zy a:VISITED {
	text-decoration: none;
	color: white
} /*已经被访问链接*/
.zy a:HOVER {
	text-decoration: none;
	color: blue;
} /*鼠标放上去*/
.xm a:LINK {
	text-decoration: none;
	color: white;
} /*未被访问的链接*/
.xm a:VISITED {
	text-decoration: none;
	color: white
} /*已经被访问链接*/
.xm a:HOVER {
	text-decoration: none;
	color: blue;
} /*鼠标放上去*/

.kh a:LINK {
	text-decoration: none;
	color: white;
} /*未被访问的链接*/
.kh a:VISITED {
	text-decoration: none;
	color: white
} /*已经被访问链接*/
.kh a:HOVER {
	text-decoration: none;
	color: blue;
} /*鼠标放上去*/
.zi a:LINK {
	text-decoration: none;
	color: white;
} /*未被访问的链接*/
.zi a:VISITED {
	text-decoration: none;
	color: white
} /*已经被访问链接*/
.zi a:HOVER {
	text-decoration: none;
	color: blue;
} /*鼠标放上去*/