@CHARSET "UTF-8";
.department{float: left;border: 1px solid red;width: 100px;}
.main{float: left;border: 0px solid red;width: 100px;}
.bottom{1px solid red;margin-left: 500px;margin-top: 20px;}
.gz{float: left;border: 0px solid red;margin-top: 50px;margin-left: 40px;width: 100px;height: 30px;}
.zt{float: left;border: 0px solid red;margin-top: -30px;margin-left: 170px;width: 100px;height: 30px;}
.xz{border: 1px solid gray;width: 100px;height: 30px;margin-left: 637px;margin-top: 50px;vertical-align: middle;line-height: 30px;background-color: #68B582;}
select{width: 100px;height: 30px;text-align: center;}
.xz a:LINK{text-decoration: none;color: white;}/*未被访问的链接*/
.xz a:VISITED {text-decoration: none;color: white}/*已经被访问链接*/
.xz a:HOVER {text-decoration: none;color: blue;}/*鼠标放上去*/
.success{border: 0px solid red;font-size: 30px;}
.main{border: 0px solid yellow;margin-top: 50px;margin-left: 200px;width:270px;height: 100px; }