<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.looip.wap.repository.dao.WapDao">
<select id="getUserName" parameterType="String" resultType="Integer">
select id from sys_user where login_name=#{0} 
</select>
<select id="getLogin" parameterType="String" resultType="Integer">
select id from sys_user where login_name=#{0} and login_pwd=#{1}
</select>
</mapper>